<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Hydrobot</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="reports" class="menu-reports">
      Reports
    </LinkTo>
  </div>
</nav>