<div class="sensors">
  <label>
    <span>Filter sensors by name:</span>
    <Input @value={{this.query}} class="light" />
  </label>

  <ul class="results">
      <Sensors::Filter @sensors={{@sensors}} @query={{this.query}} as |results|>
       {{#each results as |sensor|}}
       <li><Sensor @sensor={{sensor}} /></li>
       {{/each}}
    </Sensors::Filter>
  </ul>
</div>