<Jumbo>
  <div class="right logo"></div>
  <h2>Welcome!</h2>
  <p>Here is some random text.</p>
</Jumbo>

<div class="sensors">
     <ul class="results">
     	 <li><Sensor @sensor={{@model}} /></li>
    	 <li><Sensor @sensor={{@model}} /></li>
    	 <li><Sensor @sensor={{@model}} /></li>
  </ul>
</div>