<Jumbo>
  <h2>Reports</h2>
	<div class='flex'>
	     <div class='flex-1-ph4'>
	     	  <p> Bar Chart 1</p>
       		  <BarChart />
	     </div>
	     <div class='flex-2-ph4'>
	     	  <p> Bar Chart 2</p>
       		  <BarChart />
	     </div>
	</div>
</Jumbo>